body{
    background-color: black;
    color: white;
    font-family:'Arial', cursive;
    font-size:40px;

}
#container{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
.rectangle{
    width:960px;
    margin: 20px;
    clear:both;
    text-align: center;
}
.square{
    width:50%;
    float:left;
}
#logo{
    float:left;
    font-family:'Arial';
    font-size: 70px;
    width: 600px;
    text-align: left;

}
#zegar{
    float:left;
    font-family:'Arial';
    font-size: 70px;
    text-align: left;
}
.tile1{
    float:left;
    margin: 10px;
    width:230px;
    height:142px;
    background-color:deepskyblue;
    text-align:center;
    font-size:16px;
}
.tile1:hover{
    background-color:cornflowerblue;
}
.tile2{
    float:left;
    margin: 10px;
    width:230px;
    height:142px;
    background-color:lightslategrey;
    text-align:center;
    font-size:16px;
}
.tile2:hover {
    background-color: cornflowerblue;
}
.tile3{
    float:left;
    margin: 10px;
    width:230px;
    height:142px;
    background-color:greenyellow;
    text-align:center;
    font-size:16px;
}
.tile4{
    margin:10px;
    width:460px;
    height:122px;
    background-color:darkorange;
    text-align:center;
    font-size:32px;
    padding:10px;
    line-height:150%;
}
.tile5{
    margin:10px;
    width:460px;
    height:284px;
    padding: 10px;
    background-color:darkslategrey;
    font-size: 20px;
    text-align:justify;
}
.yt{
      float:left;
      margin:10px;
      width:105px;
      height:142px;
      background-color:darkslategrey;
  }
.fb{
    float:left;
    margin:10px;
    width:105px;
    height:142px;
    background-color:blue;
}
.gp{
    float:left;
    margin:10px;
    width:105px;
    height:142px;
    background-color:mediumvioletred;
}
.tw{
    float:left;
    margin:10px;
    width:105px;
    height:142px;
    background-color:yellow;
}
a.tilelink{
    color:#ffffff;
    text-decoration: none;
    display:block;
    width:230px;
    height:142px;
}
@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?4901419');
    src: url('font/fontello.eot?4901419#iefix') format('embedded-opentype'),
    url('fontello.woff2?4901419') format('woff2'),
    url('font/fontello.woff?4901419') format('woff'),
    url('font/fontello.ttf?4901419') format('truetype'),
    url('font/fontello.svg?4901419#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?4901419#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-github-circled:before { content: '\e800';font-size: 76px; margin-top:35px; } /* '' */
.icon-user:before { content: '\e801';font-size: 76px; margin-top:35px; } /* '' */
.icon-network:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803';font-size: 76px; margin-top:35px; } /* '' */
.icon-desktop:before { content: '\f108';font-size: 76px; margin-top:35px; } /* '' */
.icon-youtube:before { content: '\f167';font-size: 76px; margin-top:35px; } /* '' */
.icon-tumblr:before { content: '\f173';font-size: 76px; margin-top:35px; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-facebook-official:before { content: '\f230';font-size: 76px; margin-top:35px; } /* '' */
